.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.player-info {
  max-width: 100%;
  border: 2px solid white;
  margin-bottom:2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.toggleBar {
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  -webkit-box-shadow: 0px 2px 15px -8px black;
  -moz-box-shadow: 0px 2px 15px -8px  black;
  box-shadow: 0px 2px 15px -8px  black;
}

.dark-mode__toggle {
  background: papayawhip;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
  padding:.3%;
}

.toggle {
  background:black;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 25px;
}

.toggled {
  left: 18px;
}


.dark-mode {
  color: #fff;
  background-color: #313843;
}

  .dark-mode .toggleBar {
    background-color: lightgrey;
  }


